<div class="main about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 thumbnail">
        <img alt="Me" src="http://s23.postimg.org/sozybnp4b/image.jpg">
      </div>
      <div class="col-md-6 thumbnail">
        <h2>Hi! My name is <span class="highlight">Mary Lutsyuk</span></h2>
        <p>I'm pretty redhead girl who likes to be smart and to make people feel good. I recently decided to radically change my life. Since I comprehend the magical world of programming.</p>
        <p>Sometimes some things become very hard to me. But I don't stop and continue to acquire new programming skills :)</p>
      </div>
    </div>
  </div>
</div>