<div class="main portfolio">
      <div class="jumbotron slideshow">
        <div class="slide">
            <img src="http://i.imgur.com/AMmh1Ua.jpg">
         </div>
       </div>
    </div>

<div class="container"> 
  <div class="row"> 
    <div class="col-md-6 project"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
      </div> 
      <div class="thumbnail">
        <img alt="Project01" src="http://s17.postimg.org/4b739g5ov/Ukraine.png" /> 
      </div>
      <h3>Ukraine</h3> 
      <p>Creating a Rails app for home page for public organization "Ukraine" (using static landing page).</p> 
    </div> 
    <div class="col-md-6 project"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project02" src="http://s8.postimg.org/yznagd5o5/Bolt.png" /> 
      </div> 
      <h3>Bolt Network</h3> 
      <p>Project about favourite movies (a Rails app with Home page and About page).</p> 
    </div> 
  </div> 
  
  <div class="row"> 
    <div class="col-md-6 project"> 
    <div class="thumbnail-header">
      <div class="thumbnail-header-btn"></div> 
      <div class="thumbnail-header-btn"></div> 
      <div class="thumbnail-header-btn"></div> 
    </div> 
    <div class="thumbnail"> 
      <img alt="Project03" src="http://s17.postimg.org/84vy4uxn3/Innovation_cloud.png" /> 
    </div> 
    <h3>Innovation Cloud</h3> 
    <p>A Rails app to collect e-mail signups (using a model to save data to database).</p> 
    </div> 
    <div class="col-md-6 project"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project04" src="http://s13.postimg.org/yyo1z6tt3/Cucumber.png" /> 
      </div> 
      <h3>Talking Cucumber</h3> 
      <p>Creating a Rails app for small commenting service (using a model).</p> 
    </div> 
  </div> 
  
  <div class="row"> 
    <div class="col-md-6 project"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project05" src="http://s17.postimg.org/qj6h8u9xr/Bookmarks.png" /> 
      </div> 
      <h3>Bookmarks</h3> 
      <p>Project on Rails with using associations to build a book review site.</p> 
    </div> 
    <div class="col-md-6 project"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
        <div class="thumbnail-header-btn"></div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project06" src="http://s17.postimg.org/4mojm7m4v/Bass_Music.png" /> 
      </div> 
      <h3>Bass Music</h3> 
      <p>Building a music catalog app for imaginary music streaming service.</p> 
    </div> 
  </div> 
</div> 