<!DOCTYPE html> 
<html> 
  <head> 
    <title>Portfolio</title> 
    <head></head> 
    <body> 
       
      <div class="main home"> 
        <div class="jumbotron"> 
          <div class="container"> 
            <h2>Hello! My name is <span class="highlight">Mary Lutsyuk</span> and I like to build websites :)</h2> 
            <a class="btn right" href="portfolio">View my Work</a> 
          </div> 
        </div> 
      </div> 
     
    </body> 
    </html>